
#mainPannel{
    background-color:lightsteelblue;
    border: 3px solid black;
    padding:5%;
    padding-top: 1%;
    width:50%;
    height: 100%;
    box-sizing:border-box;
    text-align: center;
    display: inline-block;
}

#bldgPannel{
    background-color:blanchedalmond;
    border: 3px solid black;
    box-sizing: border-box;
    /* display: inline-block; */
    width:50%;
    height:100vh;
    float:right;
    overflow-y:scroll;
}

#big{
    border: 20px solid black;
    border-radius: 100%;
    padding: 20px;
    font-size: 2em;
    background-color:white;
    margin:auto;
    text-align: center;
    box-shadow: 0px 5px gray;
    cursor: pointer;
    display:inline;
    
}
#big:hover{
    background: lightgray;
}
#big:active{
    border-width: 20px;
    background-color: black;
    box-shadow: none;
    transform:translateY(5px);
}

#numDisp{
    font-size: 3em;
    margin-left:auto;
    margin-right:auto;
    text-align: center;
}

#timer{
    font-size:1.5em;
    float:left;
}

.bldgDiv{
    background-color:white;
    box-sizing:border-box;
    border: 2px solid gray;
    height:auto;
    margin:10px;
    padding:10px;
    font-size: 1.5em;
    text-align: left;
    text-shadow: 2px 2px 5px gray;
    overflow-x: scroll;
}

.bldgButton{
    border: 15px solid black;
    border-radius: 100%;
    padding: 15px;
    font-size: 2em;
    background-color:white;
    margin:auto;
    margin-left: 15px;
    text-align: center;
    box-shadow: 0px 5px gray;
    cursor: pointer;
    display:inline-block;
    vertical-align: middle;
}
.bldgButton:hover{
    background: lightgray;
}
.bldgButton:active{
    background-color: lightgray;
    box-shadow: none;
    transform:translateY(5px);
}

.disabled{
    border: 15px solid black;
    border-radius: 100%;
    padding: 15px;
    font-size: 2em;
    background-color:white;
    margin:auto;
    margin-left: 15px;
    text-align: center;
    box-shadow: 0px 5px gray;
    cursor: pointer;
    display:inline;
    vertical-align: middle;
    opacity: 0.3;
    cursor:not-allowed;
}

.amtLabel{
    box-sizing: border-box;
    width:auto;
    display: inline-block;
    vertical-align:middle;
}

.bldgInfo{
    display:block; 
    margin:5px;
    width:auto;
    /* background-color: lightgray;
    border: 2px solid gray; */
}

.bldgIC{
    display: inline-block;
    border: 2px none black;
    vertical-align: middle;
    margin:5px;
    width: 32%;
    text-align: left;
    border: 2px solid black;

}

#production{
    font-size: 1.5em;
    text-align: center;
}

#about{
    font-size:1em;
    vertical-align: bottom;
}